/* POPUP DEMOS */

.contenedor-popup {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  
  .contenedor-popup.active {
    visibility: visible;
  }
  
  .contenido-popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 10px;
    font-family: 'Open sans', sans-serif;
    padding: 20px;
    text-align: center;
    width: 1380px;
    padding: 30px 30px;
       
  
    transition: .5s ease all;
    transform: scale(.7);
    opacity: 0;
  }

  .contenedor-popup h2 {
    color: #0a5157 ;
  }
  
  .btn-cerrar-popup {
    font-size: 16px;
    line-height: 25px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
  }
  
  .btn-cerrar-popup:hover {
    color: #0a5157;
  }
    
/* ANIMACIONES POP UP */
  
  .contenido-popup.active {
    opacity: 1;
    transform: scale(1);
  }